.u-section-1 .u-sheet-1 {
  min-height: 641px;
}

.u-section-1 .u-text-1 {
  margin: 25px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  width: 209px;
  height: 209px;
  margin: -168px 11px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 16px;
  height: 16px;
  margin: 30px 11px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 16px;
  height: 16px;
  margin: 30px 11px 60px auto;
}