.u-section-1 .u-sheet-1 {
  min-height: 454px;
}

.u-section-1 .u-text-1 {
  width: 438px;
  margin: 52px auto 0;
}

.u-section-1 .u-image-1 {
  width: 236px;
  height: 236px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  width: 152px;
  margin: 24px auto 46px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }
}